lendedBooks {
    .add-book-btn {
        text-decoration: none;
        border: 1px solid #5179ef;
        background-color: #5179ef;
        color: white;
        padding: 10px 25px;
        border-radius: 5px;
        display: flex;
        width: max-content;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
    }

    .book-container:first-child {
        border-top: 1px solid #4444
    }

    .book-container {
        border-bottom: 1px solid #4444;
    }

    .book {
        display: flex;
        padding: 20px 0;


        .book-img {
            flex: 80px 0 0;

            img {
                width: 170px;
                height: 220px;
                object-fit: cover;
                border-radius: 15px;
            }
        }

        .top-rated-book-tag {
            flex: 100%;
            padding: 10px 20px;

            h2 {
                margin-top: 0
            }

            .status {
                border-radius: 100px;
                background-color: #a3fa9d;
                font-size: 14px;
                padding: 7px 15px;
                font-weight: 600;
                letter-spacing: 1.2px;
            }

            .status.deleted {
                background-color: #fa9393
            }
        }

        .book-actions {
            flex: 300px;
            display: flex;
            gap: 15px;
            align-items: center;

            .book-btn {
                text-decoration: none;
                border: 1px solid #5179ef;
                background-color: #5179ef;
                color: white;
                padding: 5px 25px;
                border-radius: 5px;
                display: flex;
                width: max-content;
                align-items: center;
                font-size: 18px;
                font-weight: 500;
                justify-content: center;
                cursor: pointer;
            }

            .material-symbols-outlined {
                padding-right: 10px;
            }
        }

        .book-btn.delete {
            background-color: #e7546f;
            border-color: #e73300;
        }
    }

    .lendedUsers {
        display: flex;
        // align-items: center;
        justify-content: center;

        span,
        p {
            cursor: pointer;
        }

        .material-symbols-outlined {
            position: relative;
        }
    }

    .lended-list {
        border-top: 1px solid #4444;
        display: none;

        p {
            text-align: center;
        }

        .lend-user {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // padding: 0 20px;
            background-color: rgb(233, 241, 244);
            border-radius: 15px;
            margin-bottom: 2px;


            .material-symbols-outlined {
                position: relative;
                padding-bottom: 30px;
                color: lightgray;
                cursor: pointer;
            }

            .material-symbols-outlined.filled {
                color: gold
            }

            .lend-name {
                padding-right: 20px;
            }

            .lend-rating {
                text-decoration: none;
                border: 1px solid #5179ef;
                background-color: #5179ef;
                color: white;
                padding: 2px 15px;
                border-radius: 5px;
                display: flex;
                width: max-content;
                align-items: center;
                // font-size: 18px;
                // font-weight: 500;
                justify-content: center;
                cursor: pointer;
                margin-left: 30px;
            }
        }
    }
}