@import "includes/header";
@import "includes/footer";
@import "home";
@import "signUp";
@import "login";
@import "books";
@import "bookDetails";
@import "aboutUs";
@import "cart";
@import "member/includes/sidenav";
@import "member/profile";
@import "member/lendedBooks";
@import "member/borrowed";
@import "member/addBook";
@import "member/changePassword";
@import "admin/dashboard";
@import "admin/courier";
@import "courier/dashboard";


.error {
    color: red;
    font-size: 0.7rem;
}

.message {
    color: rgb(45, 186, 45);

}


.no-display {
    display: none !important;
}

.form-error {
    color: red;
}


body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

table {
    width: 100%;
    font-size: 1.2rem;

    tr {
        text-align: center;

        td {
            padding: 5px;

            button {
                border: 1px solid white;
                border-radius: 5px;
                background-color: #8b7bda;
                height: 30px
            }
        }
    }

    tr:nth-child(even) {
        background-color: #beb9d8;
    }

    th {
        background-color: #8b7bda;
        color: rgb(229, 227, 227);
    }

}

a {
    text-decoration: none;
    color: white;
}